body{
	font-family: 'Montserrat', sans-serif;
}

.container{
	margin: auto;
	width: 1024px;
}

.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

.main-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.main-header .logo a {
	display: inline-block;
	padding: 30px 150px 8px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	float: left;
	transition: all 0.5s;

	text-decoration: none;

	font-weight: bold;
	font-size: 20px;

	border-top: none;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;

}

.main-header .logo a:hover {
	color: orange;
}

.main-header .nav-wrap{
	float: right;
}

.main-menu {
	display: inline-block;
}

.main-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0;
	display: inline-block;
	color: black;
}

.main-menu li{
	display: inline-block;
	font-size: 12px;
}

.main-menu a{
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	padding: 30px 15px;
	display: block;
	text-decoration: none;
	float: right;
	transition: all 0.5s;
}

.main-menu a:hover {
	color: orange;
}

.poster p {
	font-family: 'Roboto slab', sans-serif;	
}

.poster-button {
	background-color: transparent;
	border: 1px solid white;
	color: white;
	
	padding: 12px 20px;

	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;

	font-weight: bold;
	font-family: "Montserrat", sans-serif;

	transition: all .25s;
}

.poster-button:hover {
	background-color: rgba(250, 100, 0, 0.5);
	border: 1px solid;
}

section.poster {
	background-image: url(../images/posterimg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	box-sizing: border-box;
	height: 850px;
	padding-top: 450px;
	text-align: center;
	position: relative;
}

section.poster:before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(0,0,0,.7);
}

section.poster h1{
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	margin-top: 7px;
}

section.poster p{
	color: white;
	margin-top: 7px;
}

section.poster a{
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	margin-top: 7px;
}

section.poster .container {
	position: relative;
}

h3,h5{
	text-transform: uppercase;
}

.history-wrap {
	float: left;
	width: 33.3333%;
	padding: 0 15px;
	box-sizing: border-box;
}

section.history .fa {
	font-size: 50px;
	background-color: white;
	border-radius: 50%;
	color: red;
}

section.history {
	text-align: center;
	padding: 100px 0;
}

section.history p {
	font-size: 14px;
}

.clothes p {
	font-size: 14px;
}

.team-member img{
	width: 100%;
}

.about-column {
    float: left;
    width: 50%;
    padding: 30px 15px;
    box-sizing: border-box
}

.team-member {
    float: left;
    width: 33.3333%;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.team-member img {
    width: 100%;
	border-radius: 50%;
	border: 2px solid black;
}

.team-slider {
	float: left;
	width: 100%;
}

section.clothes {
    text-align: center;
}

.input-wrap {
    margin-bottom: 20px;
    width: calc(50% - 15px);
    float: left;
}

.input-wrap:nth-child(odd) {
    margin-right: 15px;
}

.input-wrap:nth-child(even) {
    margin-left: 15px;
}

.input-wrap input {
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    border: 1px solid #555;
    text-transform: uppercase;

    font-family: 'Roboto slab', serif;
    font-size: 12px;
    line-height: 42px;
    color: #555;
}

.input-wrap input:focus {
    border-color: red;
    outline: none;
}

.contact-text {
    float: right;
    margin-right: 200px;
    font-size: 14px;
    letter-spacing: .05em;
}

.contact-text span {
    color: red;
}

section.contact button:hover {
    background-color: rgba(250, 250, 250, 0.5);
    color: red;
    border: 1px solid red;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 6)
}

section.contact button {
    font-family: 'Roboto slab', serif;
    font-size: 12px;
    line-height: 42px;
    color: #555;
    text-transform: uppercase;

    background-color: transparent;
    width: 170px;
    border: 1px solid #555;

    transition: box-shadow .25s;
}

section.contact p {
    font-size: 14px;
    text-align: center;
}

section.contact h3 {
    text-align: center;
}

section.contact {
    margin-bottom: 50px;
}

section.contact textarea {
    overflow: hidden;
    resize: none;
    margin-bottom: 20px;
    width: 100%;
    height: 124px;
    border: 1px solid #555;
    padding: 16px 10px;
    line-height: 17px;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Roboto slab', serif;
    text-transform: uppercase;
}

section.contact textarea:focus {
    border-color: red;
    outline: none;
}

.main-footer {
	background-color: orange;
}

.footer-menu {
	list-style: none;
	text-decoration: none;
}

.footer-menu li {
	display: inline-block;
	padding: 15px;
}

.footer ul {
	padding: 0;
}

.footer-menu i {
	color: #fff;
}

.footer-content p {
	text-align: center;
	margin-top: 15px;
}

.footer {
	background-color: #E25858;
	text-align: center;
	height: 200px;
}

.footer i {
	box-sizing: border-box;
}

.footer p {
	padding-top: 100px;
	font-size: 10px;
	text-transform: uppercase;
}


