body{
	font-family: 'Montserrat', sans-serif;
}

.container{
	margin: auto;
	width: 1024px;
}

.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

.main-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.main-header .logo a {
	display: inline-block;
	padding: 30px 150px 8px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	float: left;
	transition: all 0.5s;

	text-decoration: none;

	font-weight: bold;
	font-size: 20px;

	border-top: none;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;

}

.main-header .logo a:hover {
	color: orange;
}

.main-header .nav-wrap{
	float: right;
}

.main-menu {
	display: inline-block;
}

.main-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0;
	display: inline-block;
	color: black;
}

.main-menu li{
	display: inline-block;
	font-size: 12px;
}

.main-menu a{
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	padding: 30px 15px;
	display: block;
	text-decoration: none;
	float: right;
	transition: all 0.5s;
}

.main-menu a:hover {
	color: orange;
}

.poster p {
	font-family: 'Roboto slab', sans-serif;	
}

.poster-button {
	background-color: transparent;
	border: 1px solid white;
	color: white;
	
	padding: 12px 20px;

	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;

	font-weight: bold;
	font-family: "Montserrat", sans-serif;

	transition: all .25s;
}

.poster-button:hover {
	background-color: rgba(250, 100, 0, 0.5);
	border: 1px solid;
}

section.poster {
	background-image: url(../images/posterimg1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	box-sizing: border-box;
	height: 850px;
	padding-top: 450px;
	text-align: center;
	position: relative;
}

section.poster:before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(0,0,0,.7);
}

section.poster h1{
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	margin-top: 7px;
}

section.poster p{
	color: white;
	margin-top: 7px;
}

section.poster a{
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	margin-top: 7px;
}

section.poster .container {
	position: relative;
}

h3,h5{
	text-transform: uppercase;
}

.main-footer {
	background-color: orange;
}

.portfolio-image {
    float: left;
    width: 33.3333%;
    padding: 0 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.portfolio-image img {
    width: 100%;
}

.team-soc{
	position: absolute;
	bottom: 140px;
	left: 0;
	width: 100%;
	color: #fff;

	transform: translateY(200%);

	z-index: -1;

	-webkit-transition: transform .3s;
	-o-transition: transform .3s;
	transition: transform .3s;
	
	opacity: 0;
}
.team-soc h1{
	text-align: center;
	line-height: 20px;

	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	display: inline-block;
    padding: 0.3em;
    border-radius: 150px;
    background: black;

   
}

.portfolio-image:hover .team-soc{
	z-index: 1;
	transform: translateY(0);
	display: inline-block;
	opacity: 1;
}

.portfolio-image:hover:before{
	/*z-index: 1;*/
	opacity: 1;
	border-radius: 10%;
}

.portfolio-image{
	position: relative;
	line-height: 0;
}
.portfolio-image:before{
	content: '';
	display: block;
	background-color: rgba(0,0,0,.4);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*z-index: -1;*/
	opacity: 0;

	transition: all .4s;
}

.main-portfolio a:hover {
    color: orange;
}

section.portfolio {
    text-align: center;
}

.footer-menu {
	list-style: none;
	text-decoration: none;
}

.footer-menu li {
	display: inline-block;
	padding: 15px;
}

.footer ul {
	padding: 0;
}

.footer-menu i {
	color: #fff;
}

.footer-content p {
	text-align: center;
	margin-top: 15px;
}

.footer {
	background-color: #E25858;
	text-align: center;
	height: 200px;
}

.footer i {
	box-sizing: border-box;
}

.footer p {
	padding-top: 100px;
	font-size: 10px;
	text-transform: uppercase;
}
